.btn-outline-pink {
    color: #E8A0B5;
    border-color: #E8A0B5;
    background-color: transparent;

    &:hover {
        color: white;
        background-color: #E8A0B5;
        border-color: #E8A0B5;
    }
}

.btn-pink {
    color: white;
    background-color: #E8A0B5;
    border-color: #E8A0B5;

    &:hover {
      color: white;
      background-color: #e8a0b4da;
      border-color: #E8A0B5;
    }
}